<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codexpedia.memoryleaksdemo" >

    <application
        android:name=".MemoryLeakDemo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".samples.HandlerRunnableOne">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codexpedia.memoryleaksdemo.MainActivity" />
        </activity>
        <activity android:name=".samples.HandlerRunnableTwo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codexpedia.memoryleaksdemo.MainActivity" />
        </activity>
        <activity android:name=".samples.AsyncTaskLeak">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codexpedia.memoryleaksdemo.MainActivity" />
        </activity>

        <activity android:name=".samples.ListenerLeak">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codexpedia.memoryleaksdemo.MainActivity" />
        </activity>
    </application>

</manifest>
